.products-list{
   display: flex;
   flex-wrap: wrap;
    list-style-type:none;
    /* min-width: 100vw; */
    /* border: 1px solid blueviolet; */
    margin-left: 0px;

}

@media (max-width:576px) {
    .products-list{
        display: block;
    }
}

@media screen and (min-width:576px) {
    .products-list{
        display: flex;
        flex-wrap: wrap;
    }
}

