
.nav-container{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    /* justify-content: baseline; */
    /* justify-content: center; */
    height: 40px;
    padding: 20px;
    /* width: 100%; */
    /* border-bottom: 0.5px solid #82827f; */
    /* border: 1px solid red; */
    /* min-width: 100vw; */
}
@media screen and (min-width : 576px){
    .nav-container{
        border-bottom: none;
    }
}

.logo{
    height: 20px;
    width: 20px;
    /* margin-left: 3px; */
}
@media (max-width:576px){
    .logo{
        display: none;
    }
}
.mobile-menu{
    display: visible;
    height: 20px;
    width: 20px;
    margin-right: 3px;
}
@media screen and (min-width :576px) {
    .mobile-menu{
        display: none;
    }
}

.desktop-profile{
    display: visible;
}
@media (max-width :575px) {
    .desktop-profile{
        display: none;
    }
}
.icons-cont{
    
    /* border: 1px solid red; */
    width: 244px;
    height: 24px;
    /* top: 46px;
    left: 1100px;*/
    gap: 24px;
    opacity: 0px;
    display: flex;
    justify-content: center;

    
    /* width: auto; */
}
.icons{
    height: 24px;
    width: 24px;
}
