.product-item{
    list-style-type: none;
    flex-grow: 1;
    width: 250px;


}
.thumbnail{
    height: 200px;
    width: 100px;
}
.title{
    font-size: 12px;
    color: black;
}
.product-details{
    display: flex;
}
.desc{
    font-size: 10px;
    color: grey;
}